<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Nicholas Sorrell" />
   <!-- <link href="http://feeds.feedburner.com/tom-preston-werner" rel="alternate" title="Tom Preston-Werner" type="application/atom+xml" /> -->

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<!-- Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-DBHWGY978B"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-DBHWGY978B');
	</script>
	<!-- Google Analytics end -->
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Nicholas Sorrell</a>
	<a class="extra" href="http://github.com/sorrell">github</a>
    <a class="extra" href="http://twitter.com/sorrellio">twitter</a>
    <!--
	<a class="extra" href="/presentations">presentations</a>
    <a class="extra" href="http://github.com/gmoeck">github</a>
    <a class="extra" href="http://twitter.com/gregmoeck">twitter</a>
    <a class="extra" href="http://feeds.feedburner.com/gmoeck">feed</a>
	-->
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Nicholas Sorrell<br />
        NicholasSorrell (at) gmail (dot) com
      </p>
      <p>
        Thanks to <a href="http://tom.preston-werner.com/">Tom Preston Werner</a> for the CSS layout, <a href="http://gmoeck.github.com">Gregory Moeck</a> for the layout contagion, and <a href="http://github.com/blog/272-github-pages">GitHub Pages</a> for the blog hosting.
      </p>
    </div>
  </div>
</div>



</body>
</html>
